<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hi <%= @user.name %>,</p>
    <p>We have received your password change request.  Please refer to the details below to change your password. <a href="<%= @url %>">Click here</a> to enter your new password</p>
    <p>Have a great day!</p>
  </body>
</html>