<div id="forgot-wraper_out">
  <div id="forgot-wraper">
    <%= form_for :user do |f| %>

      <legend>Forgot password for <span class="blue">Music</span></legend>

      <div class="body">
        <label>Email</label>
        <%= f.text_field :email %>
      </div>

      <div class="footer">
        <%= f.submit "Mail me" , :class=>"btn btn-info" %>
      </div>
    <% end %>
  </div>
</div>