<div id="reset-wraper_out">
  <div id="reset-wraper">
    <%= form_for @user, :url=>reset_password_users_path(:token=>params[:token], :email=>params[:email]) do |f| %>

      <legend>Reset password for <span class="blue">Music</span></legend>

      <div class="body">
        <label>Password</label>
        <%= f.password_field :password %>

        <label>Retype Password</label>
        <%= f.password_field :password_confirmation %>
      </div>

      <div class="footer">
        <%= f.submit "Update" , :class=>"btn btn-info" %>
      </div>
    <% end %>
  </div>
</div>