<%= render 'login' %>
<div class="white navbar-fixed-bottom">
  Don't have an account yet? <%= link_to "Register",new_user_path , :class=>"btn btn-black", :id=>"register", :onclick=>"signup_show(); return false;" %>
</div>