<style>
  body{
    background-image:url('/assets/dj-sound-wallpaper.jpg');
    background-color:#fff;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size:100% 100%;
  }
  .btn-black {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 5px 20px;
    background-color: #222222;
    background-image: none;
    color: white;
    text-shadow: none;
  }
  .btn-black:hover {
    background: #333333;
    color: white;
  }
</style>
<div id="reset" style="display:block;">
  <%= render "reset_password" %>
</div>